/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Website CSS */

p {
  color: #000;
}

#header {
  background-color: whitesmoke; /* Remove before submission*/
}

#logo {
  background-color: aliceblue;
}

#game-info {
  background-color: black; /* Remove before submission*/
}

/* Playing cards parent container */

#cards {
  background-color: darkgreen; /* Remove before submission*/
  margin-top: 30px;
}

#site-intro-section {
  margin-top: 30px;
}

/* Playing card containers */

#player-card,
#card-1,
#card-2,
#card-3,
#card-4 {
  height: 200px;
  width: 150px;
}

/* Playing card image size */

img#player-card,
img#card-1,
img#card-2,
img#card-3,
img#card-4 {
  width: 100%;
}

#faq-info {
  background-color: darksalmon; /* Remove before submission*/
}

.accordion {
  margin-top: 50px;
}

#error-message {
  background-color: goldenrod; /* Remove before submission*/
  margin-top: 30px;
}

#error-image {
  background-color: hotpink; /* Remove before submission*/
}

#error-image img {
  width: 100%;
}

#error-links {
  background-color: mediumspringgreen; /* Remove before submission*/
}

#footer {
  background-color: whitesmoke; /* Remove before submission*/
}

a.fa-brands,
.copyright-text,
#nav,
#start-game,
a {
  text-decoration: none;
}

/* Remove default Paragraph padding */

p {
  margin-bottom: 0 !important;
}

/* Remove default Bootstrap padding */

.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Add padding back to nav link */

#nav {
  padding-right: 15px !important;
}
